uvicorn
fastapi
substrate-interface
torch
safetensors
#visual tools
streamlit
plotly
gradio
sse-starlette
#misc
msgpack_numpy
retry
psutil
munch
grpcio
grpcio-tools
scipy
loguru
rich
aiofiles
aiohttp
nest_asyncio
moviepy
audiocraft==1.2.0
torch==2.1.0
torchaudio==2.1.0
torchmetrics==1.3.1
torchvision==0.16.0

# scraping
# beautifulsoup4
# httplib2
# urllib3
# ray
# ray[default]
# ray[tune]
# logging
# ansible
# Module for text2speech
# fairseq2
# huggingface_hub
# torchaudio
# datasets
# transformers
# diffusers
# accelerate
# openai
# Module for captcha
# capmonstercloudclient
